@page
@model Rik_Assignment.Pages.Event.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventModel.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventModel.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventModel.EventDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventModel.EventDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventModel.EventLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventModel.EventLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventModel.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventModel.EventDate)
        </dd>
    </dl>
</div>
<p>
    <a asp-page="/Participant/Create" asp-route-id="@Model.EventModel.Id">Lisa uus osaleja</a>
    <a asp-page="/CompanyParticipant/Create" asp-route-id="@Model.EventModel.Id">Osale firmaga</a>
</p>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EventModel?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
