@page
@model Rik_Assignment.Pages.Participant.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<section class="container  bg-white">
    <div class="bg-primary mt-2">
        <p class="h1">Osavõtja kustutamine</p>
    </div>
    <div class="container col-4 text-dark">
        <h4 class="text-light">Kustuta Osavõtja</h4>
        <div class=" container row">
    <dl class="row">
        <dt class="col-5">
            Eesnimi:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.ParticipantModel.FirstName)
        </dd>
        <dt class="col-5">
            Perekonanimi:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.ParticipantModel.LastName)
        </dd>
        <dt class="col-5">
            Isikukood:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.ParticipantModel.PersonalID)
        </dd>
        <dt class="col-5">
            Makseviis:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.ParticipantModel.PaymentMethod)
        </dd>
        <dt class="col-5">
            Lisainfo:
        </dt>
        <dd class="col-7">
            @Html.DisplayFor(model => model.ParticipantModel.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ParticipantModel.Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a href="##" onClick="history.go(-1); return false;"> Tagasi</a>
    </form>
        </div>
    </div>

</section>